html {
    width: 100%;
    font-size: 2em;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}


body {
    width: 960px;

}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin: 0 auto;
}

canvas {
    width: fit-content;
}

.sudokuGrid {
    width: fit-content;
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 240px 240px 240px;
    border: 2px solid black;
    /* font-size: x-large; */
    user-select: none;
}

.box3x3 {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    border: 2px solid black;
}

.sudokuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* fo6nt-size: 1em; */
}

img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 100%;
}

/* .blurSelector{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .solveButton{
    display: flex;
    justify-self: center;
} */

.imagePlaceholder {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 1em;
}

.canvasPlaceholder{
    margin-bottom: 2em;
}

.inputImage {
    /* display: flex; */
    font-size: 1em;
    margin-bottom: 0.5em;
}

button {
    width: fit-content;
    font-size: 2em;
    color: white;
    border: none;
    background-color: #008CBA;
}

.sudokuGridSection{
    margin-bottom: 2em;
}

.sudokuGridSectionBottom {
    display: flex;
    flex-direction: row;
}

.noSolution {
    color: red;
    text-align: center;
    width: 100%;
}